body {
  background: #e0eafc;
  background:
  white;
  background: 
    white;}
.App {
  position: relative;
  padding: 1px;
}
h1 {
color: #967117;
  font-family: cursive;
  font-size: 48px;
  text-align: center;
}
.chart {
  left: 15px;
  font-family: cursive;
  display: flex;
  
  justify-content: center;
  align-items: center;
  height:auto;
  padding: 15px 15px ;
  margin-top: 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transform: translateY(0px);
  color: white;
  transition: all 1s ease;
}

